body {
  font-family: 'Roboto';
  font-size: 14px;
  padding: 50px;
  margin: 0;
  text-align: center;
}

.personCount{
  position: absolute;
  top: 20%;
  left: 0px;
  font-size: 10vw;
  width: 100%;
  height: 100%;
  color:rgb(88, 138, 22);
}

.flexHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.topSpacer{
  margin-top: 70px;
}

.hideit{
  display: none !important;
}

.header{
  background-color: black;
  position: relative;
  padding: 50px;
  color: white;
  margin: -50px;
}

.event{
  font-size: 10pt;
  background-color: lightgoldenrodyellow;
  text-align: left;
  word-break: break-word;
  min-height: 50px;
}

.iotChartbox {
  display: flex;
  justify-content: center;
}

.horizontalBox{
  position: relative;
}

.iotChart {
  width: 70% !important;
  height: 20% !important;
  padding: 10px;
}

a {
  color: #00B7FF;
}

body select {
  padding: 10px 70px 10px 13px;
  max-width: 100%;
  height: auto;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background: url("https://i.ibb.co/b7xjLrB/selectbox-arrow.png") right center no-repeat;
  background-color: #fff;
  color: #444444;
  line-height: 16px;
  appearance: none;
  /* this is must */ -webkit-appearance: none;
  -moz-appearance: none;
}

/* body select.select_box option */
body select option {
  padding: 0 4px;
}

/* for Edge */
select::-ms-expand {
  display: none;
}

select:disabled::-ms-expand {
  background: #f60;
}
